.header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
}

.nav ul,
.address ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header .logo {
    color: #2E2F42;
    margin-right: 76px;
}

.header .nav {
    margin-right: auto;
}

.header ul li a {
    padding: 24px 0;
    display: block;
    font-weight: 500;
}

.address ul li a {
    font-weight: 400;
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
}

.nav ul li a,
.address ul li a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav ul li a:hover,
.address ul li a:hover,
.nav ul li a:focus,
.address ul li a:focus {
    color: #404BBF;
}

.nav ul li a.current {
    color: #404BBF;
}

.nav ul li a.current::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: #404BBF;
}