.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-s.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
    height: 432px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    padding: 0 15px;
}

.hero h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: white;
    max-width: 216px;
    letter-spacing: 0.02em;
}

@media (min-resolution: 2x) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-s@2x.jpg);
    }
}

@media (min-width: 768px) {
    .hero {
        height: 436px;
        padding: 112px 0;
    }

    .hero .container {
        gap: 36px;
        padding: 0 15px;
    }

    .hero h1 {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media (min-resolution: 1x) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-m.jpg);
    }
}

@media (min-resolution: 2x) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-m@2x.jpg);
    }
}

@media (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        height: 600px;
    }

    .hero .container {
        gap: 48px;
    }
}

@media (min-resolution: 1x) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-l.jpg);
    }
}

@media (min-resolution: 2x) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-l@2x.jpg);
    }
}