.portfolio {
    padding: 96px 0;
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0 16px;
}

.project-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-basis: 100%;
}

.project-card img {
    width: 100%;
}

.project-card .overlay {
    position: relative;
    overflow: hidden;
}

.overlay .overlay-content {
    background-color: #4D5AE5;
    color: #F4F4FD;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
    box-shadow: 0 2px 1px 0 #2E2F4214,
    0 1px 1px 0 #2E2F4229,
    0 1px 6px 0 #2E2F4214;
}

.project-card:hover .overlay-content {
    transform: translateY(0);
}

.project-card .card-content {
    border-width: 1px;
    border-top-width: 0;
    border-style: solid;
    border-color: #E7E9FC;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .project-list {
        row-gap: 72px;
    }

    .project-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .project-list {
        row-gap: 48px;
    }

    .project-card {
        flex-basis: calc((100% - 48px) / 3);
    }
}